body{
    background-image:url(pngtree-beautiful-christmas-display-board-background-picture-image_980193.jpg) ;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;  
    justify-content: center;
 align-items: center;

}
            
h1{
font-size: 80px;
color: antiquewhite;
text-align: center;
font-size: 60px;
}
.rrr{
    background-color: #1a3855;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 8px; 
    font-weight: bold;
    font-size: 24px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}
.ttt{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
    width: 80%; 
    margin: auto;

}
.rrr:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    background-color: rgb(102, 102, 86); 
}
.emoji {
    position: absolute;
    font-size: 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.rrr:hover .emoji {
    opacity: 1;
    transform: translateY(0);
}
